<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- -----Bootstrap Styles----- -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- -----/Bootstrap Styles----- -->

    <!-- -----Bootstrap icons----- -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <!-- -----/Bootstrap icons----- -->

    <!-- Custom styles -->
    <link rel="stylesheet" href="../static/style.css">


    <title>{% block title %}{% endblock %}</title>
</head>

<body style="background-color: rgb(220, 240, 220);">

    <!-- <header style="background-color: white;">

        <nav class="navbar navbar-light justify-content-between" style="height: 55px;">
            <a href="/">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                        <img style="position:absolute;left:14px;top:10px" src="../static/img/gg-logo.png" alt="GG logo" width="35px" />
                  </li>
                  <li class="nav-item">
                      <span class="text-dark" style="position:absolute;left:23px;top:27px">gg</span>
                  </li>
              </ul>
            </a>
            
            <form class="form-inline" style="position:absolute;left:60px;">
                <input class="form-control mr-sm-2 bg-light border-0" style="border-radius: 25px;" type="search" placeholder="&#128269;  Search Green Group" aria-label="Search">
            </form>
            
            

               
                    <a >
                        <i class="bi bi-gear"></i>
                    </a>

                    {% if current_user.is_authenticated %}
                        <!-- Dropdown menu -->
    <!-- <a class="text-dark nav-link dropdown-toggle p-0 m-2" href="/profile" id="navbarDropdown" role="button"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Profile
    </a> -->
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="text-dark" href="/logout">Log Out</a>
    </div>
    {% else %}
    <a class="text-dark" href="/signup">Sign Up</a>
    <a class="text-dark" href="login">Log In</a>
    {% endif %}


    </nav>


    </header>

    <header>
        <!-- Header -->
        <section id="header">
            <div class="header container">
                <div class="nav-bar">
                    <div class="brand">
                        <a href="#hero">
                            <h1><span>G</span>reen <span>G</span>roup</h1>
                        </a>
                    </div>
                    <div class="nav-list">
                        <div class="hamburger">
                            <div class="bar"></div>
                        </div>
                        <ul>
                            <li><a href="/" data-after="Home">Home</a></li>
                            <li><a href="#services" data-after="Service">Our Team</a></li>
                            <li><a href="#projects" data-after="Projects">Services</a></li>
                            <li><a href="#contact" data-after="Contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Header -->
    </header>


    {% block content %}{% endblock %}
    <footer></footer>


    <!-- -----Bootstrap JavaScript----- -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <!-- -----/Bootstrap JavaScript----- -->

    <!-- -----Custom JavaScript----- -->
    <script src="../static/main.js"></script>
    <!-- -----Custom JavaScript----- -->


</body>

</html>