{% extends 'kickstarter.html' %}
{% block content %}


<main>
    <h1>Create Startup</h1>

    <form method='POST'>
        <fieldset>
            <legend>Please fill out your Startup's info:</legend>

            <label>
                Startup's name:
                <input type="text" name="startup_name">
            </label>

            <label>
                Startup's type:
                <input type="text" name="type">
            </label>


            <input type="submit" class="submit" value="Submit!">
        </fieldset>
    </form>
</main>

{% endblock content %}