{% extends 'kickstarter.html' %}
{% block content %}


<h1>New Startup</h1>

<form method="POST">
    {{ form.csrf_token }}
    <fieldset>
        <legend>New Item</legend>
        {{form.title.label}}
        {{form.title}}

        {{form.photo_url.label}}
        {{form.photo_url}}

        {{form.video_url.label}}
        {{form.video_url}}

        {{form.end_date.label}}
        {{form.end_date}}

        {{form.money_goal.label}}
        {{form.money_goal}}

        {{form.description.label}}
        {{form.description}}
        


        {{form.submit}}


    </fieldset>
</form>

{% endblock content %}