<!DOCTYPE html>
<html>

<head>
    <title>Startups</title>
    <link rel="stylesheet" href="/static/kickstarter_style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <div id="content">
        <nav>
            <a href="/kickstarter">kickstarter</a>
            <div>
                <!-- : Only show these links if the current user is 
                                            authenticated (logged in)! -->
                {% if current_user.is_authenticated %}
                <a href="/new_store">New Startup</a>
                {% else %}
                <a href="/signup">Sign Up</a>
                <a href="/login">Log In</a>
                {% endif %}
            </div>
        </nav>
        {% block content %}{% endblock %}
    </div>
</body>

</html>