{% extends 'base.html' %}
{% block content %}

<!-- header -->
<header style="background-image: linear-gradient(rgb(143, 193, 143), white);">
    
    <!-- Hearder img -->
    <div class="text-center bg-dark rounded-bottom" aria-label="{{ header_img.alt }}" style="height: 300px;background-image: url('{{ header_img.src }}');background-size: cover;margin-left: 75px;margin-right: 75px;">
    </div>

    <div class="px-5 mx-5">

        <!-- selfi img -->
        <img class="rounded-circle bg-dark" style="position: absolute;height: 100px;width: 100px;left: 120px;top:345px" src="{{ selfi.src }}" alt="{{ selfi.alt }}" />
        <!-- name & short info -->
        <div style="position: absolute;left: 250px;top: 360px">
            <h3 class="font-weight-bold pb-0 mb-0" >{{ name }}</h3>
            <span>{{ name_info }}</span>
            <span>Welcome, {{ current_user.username }}!</span>
        </div>
        <!-- some button -->
        <button class="bg-success border-0 rounded" style="height: 30px;width: 200px;position: absolute;right:130px;top:420px"></button>

        <!-- Separating line -->
        <hr style="margin-top: 110px;"/>
        
        <!-- Profile navigation bar in header -->
        <nav class="navbar navbar-expand-lg navbar-light">
            
            <a class="text-dark nav-link p-0 m-2" href="#">Home <span class="sr-only">(current)</span></a>
            <a class="text-dark nav-link p-0 m-2" href="#">Reviews</a>
            <a class="text-dark nav-link p-0 m-2" href="#">About</a>
            <a class="text-dark nav-link p-0 m-2" href="#">Community</a>

            <!-- Dropdown menu -->
            <a class="text-dark nav-link dropdown-toggle p-0 m-2" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            More
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
            
            <!-- buttons on heder nav -->
            <button class="border-0 rounded px-2 py-1 m-1">
                <i class="bi bi-hand-thumbs-up"></i> Liked
            </button>
            <button class="border-0 rounded px-2 py-1 m-1">Message</button>
            <button class="border-0 rounded px-2 py-1 m-1">
                <i class="bi bi-search"></i>
            </button>
            <button class="border-0 rounded px-2 py-1 m-1">...</button>
            
        </nav>
    </div>
</header>

<hr class="my-0 py-0" />

<!-- main body area -->
<main>
    <section class="px-5 mx-5">

        <div class="container mt-2">
            <div class="row">

                <!-- -----Left Columns----- -->
                <div class="col-4 pr-1">
                        
                    <!-- About Row -->
                    <div class="row rounded p-2 mx-0 mb-2" style="background-color: white;">

                        <h6 class="font-weight-bold">About</h6>

                        <!-- Map -->
                        <iframe class="rounded">
                        </iframe>

                        <!-- -----lots of about section info----- -->
                        <ul class="list-group">
                            <li class="list-group-item">
                                <i class="bi bi-info-circle-fill"></i>
                                <small class="pl-3">
                                    {{ info }}
                                </small>
                            </li>
    
                            <li class="list-group-item">
                                <i class="bi bi-hand-thumbs-up-fill"></i>
                                <small class="pl-3">
                                    {{ people_like_this.count }} people like this, including {{ people_like_this.frind_count }} of your friends
                                    <br />
                                    <img class="rounded-circle bg-success" src="{{ people_like_this.img[0].src }}" alt="{{ people_like_this.img[0].alt }}" />
                                    <img class="rounded-circle bg-success" src="{{ people_like_this.img[1].src }}" alt="{{ people_like_this.img[1].alt }}" />
                                    <img class="rounded-circle bg-success" src="{{ people_like_this.img[2].src }}" alt="{{ people_like_this.img[2].alt }}" />
                                    <img class="rounded-circle bg-success" src="{{ people_like_this.img[3].src }}" alt="{{ people_like_this.img[3].alt }}" />
                                    <img class="rounded-circle bg-success" src="{{ people_like_this.img[4].src }}" alt="{{ people_like_this.img[4].alt }}" />
                                    <img class="rounded-circle bg-success" src="{{ people_like_this.img[5].src }}" alt="{{ people_like_this.img[5].alt }}" />
                                    <span class="rounded-circle bg-success" style="height: 30px; width: 30px">...</span>
                                </small>
                            </li>
    
                            <li class="list-group-item">
                                <i class="bi bi-check-all"></i>
                                <small class="pl-3">
                                    {{ folowing }}people follow this
                                </small>
                            </li>
    
                            <li class="list-group-item">
                                <i class="bi bi-people-fill"></i>
                                <small class="pl-3">
                                    {{ friends_participated }} friends participated here
                                </small>
                            </li>
    
                            <li class="list-group-item">
                                <i class="bi bi-globe2"></i>
                                <small class="pl-3">{{ url }}</small>
                            </li>
    
                            <li class="list-group-item">
                                <i class="bi bi-telephone-fill"></i>
                                <small class="pl-3">{{ phone }}</small>
                            </li>
    
                            <li class="list-group-item">
                                <i class="bi bi-chat-left-text-fill"></i>
                                <small class="pl-3">
                                    {% if away %}
                                        Away
                                    {% else %}
                                        Online
                                    {% endif %}
                                    <a class="pl-3">Send message</a>
                                </small>
                            </li>
                                
                            <li class="list-group-item">
                                <i class="bi bi-envelope-fill"></i>
                                <small class="pl-3">{{ email }}</small>
                            </li>
    
                            <li class="list-group-item">
                                <i class="bi bi-clock-fill"></i>
                                <small class="pl-3">{{ open_hr.open }} - {{ open_hr.close }}</small>
                            </li>
    
                            <li class="list-group-item">
                                <i class="bi bi-folder-fill"></i>
                                <small class="pl-3">{{ industry }}</small>
                            </li>
                        </ul>
                        <!-- -----/lots of about section info----- -->
                        
                    </div>

                    <!-- Photos Row -->
                    <div class="row rounded p-0 mx-0 my-2" style="background-color: white;">
                        <h6 class="font-weight-bold">Photos</h6>
                        <a href="">See all</a>

                        <!-- -----img grid----- -->
                        <div class="container">
                            <!-- row 1 -->
                            <div class="row">
                                {% for i in range(3) %}
                                <div class="col-4">
                                    <img src="{{ photos[i] }}" alt="{{ photos[i] }}" />
                                </div>
                                {% endfor %}
                            </div>
                            <!-- row 2 -->
                            <div class="row">
                                {% for i in range(3) %}
                                <div class="col-4">
                                    <img src="{{ photos[i+3] }}" alt="{{ photos[i+3] }}" />
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- -----/img grid----- -->

                    </div>

                    <!-- Videos Row -->
                    <div class="row rounded p-0 mx-0 my-2" style="background-color: white;">
                        <h6 class="font-weight-bold">Videos</h6>

                        <!-- -----vid grid----- -->
                        <div class="container">
                            <!-- row 1 -->
                            <div class="row">
                            <iframe src="{{ videos.video.src }}" alt="{{ videos.video.alt }}"></iframe>
                            <p>{{ videos.info }}</p>
                            <small>{{videos.views}} - {{videos.date_added}}</small>
                            </div>
                        </div>
                        <!-- -----/vid grid----- -->

                    </div>

                </div>
                <!-- -----/Left Columns----- -->

                <!-- -----Right Columns----- -->
                <div class="col-8 pl-1">
                    
                    <!-- Create Post Row -->
                    <div class="row rounded p-0 mx-0 my-2" style="background-color: white;">
                        <img src="{{ selfi }}" alt="{{ selfi.alt }}"/>
                        <form method="post" action="profile.html">
                            <input type="text" class="font-weight-bold">Create Post</input>
                            <input type="file" name="fileToUpload" id="fileToUpload">
                            <input type="submit" value="Upload Image" name="submit">
                        </form>
                    </div>

                    <!-- Pinned Post Row -->
                    <h6 class="font-weight-bold">Pinned Post</h6>
                    <div class="row rounded p-3 mx-0 my-2" style="background-color: white;">
                        <img src="{{ pinned_post[0].user_img.src }}" alt="{{ pinned_post[0].user_img.alt }}"/>
                        <p>{{ pinned_post[0].user_name }}</p>
                        <small>{{ pinned_post[0].date_added }}</small>
                        <p>{{ pinned_post[0].details }}</p>
                        {% if pinned_post[0].img_vid.is_img %}
                            <img src="{{ pinned_post[0].img_vid.src }}" alt="{{ pinned_post[0].img_vid.alt }}" />
                        {% else %}
                            <iframe src="{{ pinned_post[0].img_vid.src }}" alt="{{ pinned_post[0].img_vid.alt }}"></iframe>
                        {% endif %}
                        <small>{{ pinned_post[0].like_count }} like {{ pinned_post[0].comment_count }} comment {{ pinned_post[0].share }}  share</small>
                        <button>Like</button> 
                        <button>Comment</button>
                        <button>Share</button>
                        <!-- Comment -->
                        <form>

                            <input type="text" placeholder="Write a comment..." />
                            
                        </form>
                        <samll>View {{pinned_post.views}} comment</samll>
                    </div>

                    <!-- Other Posts Row -->
                    <h6 class="font-weight-bold">Other Posts</h6>
                    <div class="row rounded p-0 mx-0 my-2" style="background-color: white;">
                        
                    </div>

                </div>
                <!-- -----/Right Columns----- -->

            </div>
        </div>

    </section>
</main>

{% endblock content %}